<div class="container-fluid site-footer">
<div class="row social-share">
<div class="w-100 text-right px-1 py-2">
    Do follow us : <i class="fab fa-facebook px-2"></i><i class="fab fa-google-plus px-2"></i><i class="fab fa-linkedin px-2"></i><i class="fab fa-pinterest-p px-2"></i><i class="fab fa-instagram px-2"></i></div>
</div>
<div class="row">
  <div class="col-12 text-center footer--address-header">
    Our Network
  </div>
  <div class="col-4 p-4 text-center">
    <h1>UK</h1>
    <h5 class="footer--address">Sir Matt Busby Way, Stretford, Manchester M16 0RA, UK</h5>
  </div>
  <div class="col-4 p-4 text-center">
    <h1>US</h1>
    <h5 class="footer--address">244, Fifth Aveneue Suite, #C44, Newyork, NY 001</h5>
  </div>
  <div class="col-4 p-4 text-center">
    <h1>IN</h1>
    <h5 class="footer--address">19, New Colony, Adyar, Chennai, TN</h5>
  </div>
</div>
<div class="row contact-info px-1 py-2">
  <div class="col-4 text-left"><b>Contact</b><br/>Phone - (123) 456 7890<br/>Email - suhail.shariff7&#64;india.com</div>
  <div class="col-8 text-right"><i class="fas fa-home"></i>&nbsp;elastic &reg; - Sir Matt Busby Way, Stretford, Manchester M16 0RA, UK<br/>© 2018 elastic. All Rights Reserved.</div>
</div>
</div>