<p>site-layout-locations works!</p>
<div class="row">
  @for (category of finalCountries; track category; let i = $index) {
    @if (category.countries?.length) {
      <div class="col-6 countries-section">
        <h1 class="country-category">
          {{ category.category }}
        </h1>
        <ul>
          @for (countries of category.countries; track countries) {
            <li>
              {{ countries.countryName }}
            </li>
          }
        </ul>
      </div>
    }
  }
</div>
