.card-container {
    min-height: 200px;
    color: #fff;
    border-radius: 30px;
    overflow: hidden;
    background-clip: content-box;
    background-image: linear-gradient(to right, rgb(0 0 0), #3c366bd9);
    position: relative;
    .card-text {
        min-height: 150px;
        padding-bottom: 100px;
        .card-title {
            font-size: 30px;
            font-family: Rubik--BoldItalic;
            text-align: center;
        }
        .card-description {
            font-size: 14px;
            font-family: Rubik-Regular;
        }
    }
    .card-button {
        position: absolute;
        width: 100%;
        bottom: 10px;
    }
}