/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Rubik;
    src: url(assets/Fonts/Rubik/Rubik-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: Rubik--BoldItalic;
    src: url(assets/Fonts/Rubik/Rubik-BoldItalic.ttf) format("truetype");
  }
  @font-face {
    font-family: Rubik-Italic;
    src: url(assets/Fonts/Rubik/Rubik-Italic.ttf) format("truetype");
  }
  @font-face {
    font-family: Rubik-Regular;
    src: url(assets/Fonts/Rubik/Rubik-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: roboto-regular;
    src: url(assets/Fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: roboto-bold;
    src: url(assets/Fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: roboto-light;
    src: url(assets/Fonts/Roboto/Roboto-Light.ttf) format("truetype");
  }

  body {
      font-family  : roboto-regular;
      font-size: 14px;
  }

  body.show-modal {
    position: static;
    overflow: hidden;
  }

  .site-button {
    font-family: roboto-regular;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 20px;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
  }

  .button {
    font-family  : roboto-regular;
    border-radius: 4px;
    background-color: #17a8e0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px 16px;
    max-width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .pointer {
    cursor: pointer;
  }