<div class="container">
<div class="user-container position-relative">
<div class="cover-pic">
<img class="cover-img" src="../../../assets/images/Cover-pic.jpg"/>
</div>
<div class="user-pic row">
<span class="pro-img--wrapper">
<img class="pro-img" src="../../../assets/images/Suh-DP.jpg"/>
</span>
<div class="user-name col-9">
<h1>Suhail Shariff A</h1>
<h6>(سهيل)</h6>
</div>
</div>
</div>
<div class="feed row p-3">
<div class="col-3 pinned-pic">
<span class="py-2 text-center pinned-pic-header">Your Pinned Pic!</span>
<div class="w-100 position-relative">
<div class="blur-pinned-img">
</div>
<img class="pinned-img" src="../../../assets/images/Suh-DP.jpg"/>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>
<a (click)="expand()" id="myBtn">Read more</a>
</div>
<div class="col-9">

</div>
</div>
</div>